* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

.meditasi-mengatasi-stres {
  width: 100%;
  height: 100vh;
  background-image: url(../gambar/bg-meditasi-mengatasi-stres.svg);
  background-position: center;
  background-size: cover;
  overflow: hidden;
  padding: 0 4%;
  font-family: "Roboto", sans-serif;
}

.Meditasi-relaksasi-total {
  width: 100%;
  height: 100vh;
  background-image: url(../gambar/bg-Meditasi-relaksasi-total.svg);
  background-position: center;
  background-size: cover;
  overflow: hidden;
  padding: 0 4%;
  font-family: "Roboto", sans-serif;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../gambar/bg-meditasi.svg);
  background-position: center;
  background-size: cover;
  animation: zoomInOut 8s infinite alternate;
  z-index: -1; /* Menempatkan lapisan di belakang konten */
}

nav {
  display: flex;
  width: 100%;
  /* background-color: #28cbff; */
  height: 70px;
  align-items: center;
  justify-content: space-between;
}

.h1-di-meditasi-1 {
  color: #d1a975;
}

.h1-di-meditasi-2 {
  color: #dd8b64;
}

.back {
  color: #513f02;
  font-weight: bold;
  font-size: 40px;
  text-decoration: none;
  /* display: inline-block; */
  /* margin: 0 50px 0; */
}

.back:hover {
  color: #968a62;
}

.hiden,
.go-to {
  color: transparent;
}

.section-volume {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50vh;
  flex-direction: column;
}

.section-volume label {
  color: #fff;
  padding-bottom: 10px;
  font-size: 20px;
}

#volumeRange {
  width: 30%;
}

#button-audio {
  display: block;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  border-radius: 100%;
  background-color: transparent;
  border: 2px solid #28cbff;
  color: #28cbff;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
