/* meresert margin padding di semua elemen di halaman meditasi*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* style container/pembungkus dari semua element/item di halaman meditasi */
.container {
  width: 100%;
  padding: 0 6%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

/* style tag h1 di halaman meditasi */
h1 {
  text-align: center;
  margin: 30px 0;
  font-size: 25px;
  text-transform: capitalize;
}

/* style div class manfaat meditasi */
.manfaat-meditasi {
  width: 100%;
  display: flex;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
}

/* style li yang ada di class manfaat-meditasi */
.manfaat-meditasi li {
  list-style: none;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: bold;
  position: relative;
  margin: 20px 0 10px;
}

/* menambahkan element/gambar kecil di sebelah li */
.manfaat-meditasi-1 li::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: calc(102%);
  right: ;
  bottom: 0;
  background-image: url(../gambar/simbol.svg);
  z-index: -1;
}

/* menambahkan element/gambar kecil di sebelah li */
.manfaat-meditasi-2 li::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: -8%;
  right: 0;
  bottom: 0;
  background-image: url(../gambar/simbol.svg);
  z-index: -1;
}

/* style p yang  */
.manfaat-meditasi p {
  font-size: 13px;
}

/* style .class manfaat meditasi 1/column 1 */
.manfaat-meditasi .manfaat-meditasi-1 {
  text-align: right;
  width: 38%;
  order: 1;
}

/* style .class gambar/column 2 */
.manfaat-meditasi .gambar {
  order: 2;
  position: relative;
}

/* style .class manfaat-meditasi-2/column 3 */
.manfaat-meditasi .manfaat-meditasi-2 {
  width: 38%;
  order: 3;
  text-align: left;
}

/* style gambar yang ada di class gambar */
.manfaat-meditasi .gambar img {
  width: 300px;
  margin: 0 40px;
  animation: meditasiAnimasi 5s linear infinite;
}

/* style menu meditasi */
.menu-meditasi {
  display: flex;
  justify-content: space-around;
}

/* style column di menu meditasi */
.menu-meditasi .meditasi-2,
.menu-meditasi .meditasi-1 {
  position: relative;
}

/* style class meditasi-1 dengan menambahkan gambar dengan beberapa properti */
.menu-meditasi .meditasi-1 .gambar-meditasi-1 {
  background-image: url(../gambar/gambar-meditasi-1-Destop.svg);
  width: 250px;
  height: 250px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
  filter: brightness(100%);
  border-radius: 10px;
  overflow: hidden;
  filter: brightness(30%);
  box-shadow: 0px 0px 5px black;
}

/* style class meditasi-2 dengan menambahkan gambar dengan beberapa properti */
.menu-meditasi .meditasi-2 .gambar-meditasi-2 {
  background-image: url(../gambar/gambar-meditasi-2-Destop.svg);
  width: 250px;
  height: 250px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
  filter: brightness(100%);
  border-radius: 10px;
  overflow: hidden;
  filter: brightness(30%);
  box-shadow: 0px 0px 5px black;
}

/* style .gambar-meditasi-1&2 ketika di hover */
.menu-meditasi .meditasi-1 .gambar-meditasi-1:hover,
.menu-meditasi .meditasi-2 .gambar-meditasi-2:hover {
  filter: brightness(100%);
}

/* style judul dari meditasi */
.p2,
.p1 {
  position: absolute;
  color: #fff;
  font-size: 17px;
  text-transform: capitalize;
  bottom: 50px;
  left: 13%;
  font-weight: bold;
}

/* style footer */
footer {
  margin-top: 50px;
  padding: 20px 0;
  text-align: center;
  background-color: #d9d9d9;
}

/* ================= RESPONSIVE ===============*/
/*  */
/*  */
/* di ukurna 900pc */
@media (max-width: 900px) {
  /* mengubah yang menjadi column atau ke bawah */
  .manfaat-meditasi {
    flex-direction: column;
    height: 100%;
  }

  /* menganti posisi letak yang awal nya di older 1 menjadi 2  */
  .manfaat-meditasi .manfaat-meditasi-1 {
    order: 2;
    text-align: left;
    width: 100%;
  }

  /* style mengeser simbol/element gambar kecil */
  .manfaat-meditasi-1 li::before {
    top: 0px;
    left: -4%;
  }

  /* style mengeser simbol/element gambar kecil */
  .manfaat-meditasi-2 li::before {
    top: 0px;
    left: -4%;
  }

  /* menganti posisi letak yang awal nya di older 2 menjadi 1 */
  .manfaat-meditasi .gambar {
    order: 1;
  }

  /* mengubah ukuran width nya, engak ikut merubah posisi letak karena div ini yang paling terakhir */
  .manfaat-meditasi .manfaat-meditasi-2 {
    width: 100%;
  }

  /* mengubah flex yang awal nya row/kesamping menjadi ke bawah/column */
  .menu-meditasi {
    flex-direction: column;
  }

  /* menganti gambar meditasi 1 */
  .menu-meditasi .meditasi-1 .gambar-meditasi-1 {
    background-image: url(../gambar/gambar-Meditasi-1-mobile.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    height: 100px;
    margin: 10px auto;
  }

  /* menganti gambar meditasi 2 */
  .menu-meditasi .meditasi-2 .gambar-meditasi-2 {
    background-image: url(../gambar/gambar-Meditasi-2-mobile.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    height: 100px;
    margin: 10px auto;
  }
}

/* di ukuran 500 */
@media (max-width: 500px) {
  /* style li yang berada di class manfaat-meditasi */
  .manfaat-meditasi li {
    font-size: 15px;
  }

  /* style mengeser simbol/element gambar kecil */
  .manfaat-meditasi-1 li::before {
    top: 0px;
    left: -6%;
  }

  /* style mengeser simbol/element gambar kecil */
  .manfaat-meditasi-2 li::before {
    top: 0px;
    left: -6%;
  }
}

/* animasi untuk gambar meditasi di halaman meditasi*/
@keyframes meditasiAnimasi {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); /* Sesuaikan jarak pergerakan naik turun sesuai keinginan Anda */
  }
}
