* {
  padding: 0;
  margin: 0;
  /* border: 1px solid black; */
}

:root {
  /* color font */
  --primary: #28cbff;

  /* font text di laptop */
  --size-font: 16px;
  --size-heading: 36px;

  /* font text di table */
  --size-font-table: 14px;
  --size-heading-table: 29px;

  /* font text di table */
  --size-font-hp: 14px;
  --size-heading-hp: 24px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  width: 100vw;
}

/* AWAL style navbar */
.navbar {
  display: flex;
  padding: 0.7rem 6%;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  box-shadow: 0px 3px 5px rgba(10, 10, 10, 0.25);
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

/* style Judul */
.navbar .navbar-title a {
  font-size: 35px;
  font-weight: 700;
  text-decoration: none;
  color: var(--primary);
  font-family: "Luckiest Guy", cursive;
  letter-spacing: 6px;
  filter: drop-shadow(0px 0px 1px #000);
}

/* style Link */
.navbar .navbar-link a {
  text-decoration: none;
  color: #474747;
  text-transform: capitalize;
  font-weight: 700;
  display: inline-block;
  margin: 1rem 1rem 0;
  font-size: var(--size-font);
}

/* style link Hover */
.navbar .navbar-link a:hover {
  font-weight: 700;
  color: rgba(147, 147, 147, 0.667);
}

/* style link animasi */
.navbar .navbar-link a::after {
  content: "";
  transform: scalex(0%);
  display: block;
  padding-bottom: 0.5rem;
  transition: all 0.2s linear;
  border-bottom: 0.2rem solid #383838;
}

/* style animasi ketika di hover */
.navbar .navbar-link a:hover::after {
  transform: scalex(70%);
}

/* meng-hidden humberger */
.navbar .Humberger {
  display: none;
}

/* style section home */
.home {
  margin-top: 130px;
  display: flex;
  padding: 0.7rem 6%;
  align-items: center;
}

/* style width halaman article dari ketiga section */
.home .informasi-utama,
.Article .informasi-Article,
.meditasi .informasi-meditasi {
  width: 55%;
}

/* style judul/heading dari ketiga section */
.Article .informasi-Article h1,
.meditasi .informasi-meditasi h1,
.home .informasi-utama h1 {
  font-size: var(--size-heading);
}

/* mengisi warna pada bagian tertentu dari judul/heading section */
.Article .informasi-Article h1 span,
.meditasi .informasi-meditasi h1 span,
.home .informasi-utama h1 span {
  color: var(--primary);
}

/* style paragraf dari ketiga section */
.home .informasi-utama p,
.meditasi .informasi-meditasi p,
.Article .informasi-Article p {
  margin-top: 15px;
  font-size: var(--size-font);
  width: 100%;
}

/* menentukan ukuran gambar dari ketiga section */
.home .gambar,
.Article .gambar,
.meditasi .gambar {
  width: 45%;
}

/* menentukan ukuran dari gambar utama/hero dan menambahkan animasi style */
.home .gambar img {
  width: 85%;
  animation: bgHome 3.5s linear infinite;
}

/* style button dari ketiga section */
.home .informasi-utama a,
.Article .informasi-Article a,
.meditasi .informasi-meditasi a {
  display: inline-block;
  text-transform: capitalize;
  margin-top: 20px;
  padding: 10px 35px;
  background-color: var(--primary);
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  border: 3px solid transparent;
  transition: all 0.3s;
}

.home .informasi-utama a:hover,
.Article .informasi-Article a:hover,
.meditasi .informasi-meditasi a:hover {
  border: 3px solid var(--primary);
  background-color: #fff;
  color: var(--primary);
}

.home .informasi-utama a:active,
.Article .informasi-Article a:active,
.meditasi .informasi-meditasi a:active {
  transform: scale(0.95);
}

/* style section card-problem */
.card-Problem {
  display: flex;
  justify-content: center;
  padding: 1rem 6%;
  margin: 70px 0;
}

/* style card problem */
.card-Problem .card-1 {
  width: 40%;
  background-color: #ffffff;
  text-align: center;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(81, 81, 81, 0.5);
}

/* style heading di card poblem */
.card-1 h1 {
  margin-bottom: 20px;
}

/* style section meditasi dan article*/
.meditasi,
.Article {
  margin-top: 50px;
  display: flex;
  padding: 0.7rem 6%;
  align-items: center;
  justify-content: center;
}

/* style gambar di section meditasi dan article */
.Article .gambar img,
.meditasi .gambar img {
  width: 100%;
}

/* style footer */
footer {
  padding: 20px 0;
  text-align: center;
  background-color: #d9d9d9;
  margin-top: 50px;
}

/* ================= RESPONSIVE ===============*/

@media (max-width: 900px) {
  /* mengubah display menu humberger yang awal nya none menjadi inline-block*/
  .navbar .Humberger {
    display: inline-block;
  }

  /* style navbar link */
  .navbar .navbar-link {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    box-shadow: 0px 3px 5px rgba(10, 10, 10, 0.25);
    width: 100%;
    transition: 0.4s ease-in-out;
  }

  /* style navbar link ketika ada class active */
  .navbar .navbar-link.active {
    right: 0%;
  }

  /* style navbar link tag a */
  .navbar .navbar-link a {
    display: block;
    text-align: center;
    color: #000;
  }

  /* style navbar link a ketika di hover */
  .navbar .navbar-link a:hover::after {
    transform: scalex(20%);
  }

  /* style section home */
  .home {
    margin-top: 90px;
    flex-direction: column-reverse;
    text-align: center;
    justify-content: center;
  }

  /* style section home bagian informasi/text */
  .home .informasi-utama {
    width: 100%;
    margin-top: 30px;
  }

  /* style heading di card problem */
  .card-Problem .card-1 h1 {
    font-size: 20px;
  }

  /* style heading/judul dari ketiga section */
  .home .informasi-utama h1,
  .meditasi .informasi-meditasi h1,
  .Article .informasi-Article h1 {
    font-size: var(--size-heading-table);
  }

  /* style heading/judul yang berisi tag span */
  .home .informasi-utama h1 span,
  .meditasi .informasi-meditasi h1 span,
  .Article .informasi-Article h1 span {
    font-size: var(--size-heading-table);
  }

  /* style paragraf dari ketiga section*/
  .home .informasi-utama p,
  .card-Problem .card-1 p,
  .meditasi .informasi-meditasi p,
  .Article .informasi-Article p {
    font-size: var(--size-font-table);
  }

  /*style card problem */
  .card-Problem {
    margin: 0;
  }

  /* style card di dalam section card problem */
  .card-Problem .card-1 {
    width: 60%;
  }
}

/* RESPONSIVE WIDTH 500PX */
@media (max-width: 500px) {
  .home .gambar {
    width: 50%;
  }

  /* menentukan ukuran dari gambar utama/hero dan menambahkan animasi style */
  .home .gambar img {
    width: 100%;
  }
  /* style card di dalam section card problem */
  .card-Problem .card-1 {
    width: 80%;
  }
  /* style heading di dalam section card problem */
  .card-Problem .card-1 h1 {
    font-size: 17px;
  }

  /* style paragraf di dalam section card problem */
  .card-Problem .card-1 p {
    font-size: 12px;
  }

  /* style heading dari ketiga section */
  .home .informasi-utama h1,
  .meditasi .informasi-meditasi h1,
  .Article .informasi-Article h1 {
    font-size: var(--size-heading-hp);
  }

  /* style heading yang isi tag span dari ketiga section */
  .home .informasi-utama h1 span,
  .meditasi .informasi-meditasi h1 span,
  .Article .informasi-Article h1 span {
    font-size: var(--size-heading-hp);
  }

  /* style paragraf dari ketiga section */
  .home .informasi-utama p,
  .meditasi .informasi-meditasi p,
  .Article .informasi-Article p {
    font-size: var(--size-font-hp);
  }

  /* style text agar tengah-tengah pada section meditasi dan article */
  /* margin top nya agar sama di ketiga section ini */
  .card-Problem,
  .Article,
  .meditasi {
    text-align: center;
    margin-top: 40px;
  }

  /* mengatur ukuran div informasi/text pada section meditasi dan article */
  .Article .informasi-Article,
  .meditasi .informasi-meditasi {
    width: 100%;
  }

  /* mengatur ukuran div gamber pada section meditasi dan article*/
  .Article .gambar,
  .meditasi .gambar {
    display: none;
  }
}

/*style animasi  */
@keyframes bgHome {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); /* Sesuaikan jarak pergerakan naik turun sesuai keinginan Anda */
  }
}
